.box{
    border: 1px solid black;
    height:200px;
    width: 150;

    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to right,red,blue);
    background-image: linear-gradient(to bottom,red,blue);
}